<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    {{! <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" /> }}

    {{! <link rel="stylesheet" type="text/css" href="../style/style.css" /> }}
    <link type="text/css" rel="stylesheet" href="../dist/output.css" />
  </head>

  <header class="w-full bg-gray-800">
    <nav
      class="flex flex-wrap items-center justify-between max-w-7xl mx-auto py-4 md:py-0 px-4 text-lg text-white bg-gray-800"
    >
      <div>
        <a href="#">
          asdasdasdasdasd
        </a>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="menu-button"
        class="h-6 w-6 cursor-pointer md:hidden block"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>

      <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
        <ul
          class="pt-4 text-base text-gray-50 md:flex md:justify-between md:pt-0"
        >
          <li>
            <a
              class="md:p-4 py-2 block hover:text-sky-400"
              href="#"
            >Features</a>
          </li>
          <li>
            <a class="md:p-4 py-2 block hover:text-sky-400" href="#">Pricing</a>
          </li>
          <li>
            <a
              class="md:p-4 py-2 block hover:text-sky-400"
              href="#"
            >Customers</a>
          </li>
          <li>
            <a class="md:p-4 py-2 block hover:text-sky-400" href="#">Blog</a>
          </li>
          <li>
            <a
              class="md:p-4 py-2 block hover:text-sky-600 text-sky-300 font-semibold"
              href="#"
            ><span class="p-2 border border-gray-500 rounded">
                Sign Up
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <body>

    <section>
      {{{body}}}
    </section>

    {{! <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script> }}
  </body>
</html>